doctype html
html(lang="en")
   head
      meta(charset="utf-8")
      title ember//authentication
      link(rel="stylesheet", href="/css/bootstrap/bootstrap.css")
      link(rel="stylesheet", href="/css/style.css")
      
   body
      script(src="/js/libs/jquery-1.11.0.js")
      script(src="/js/libs/handlebars-v1.3.0.js")
      script(src="/js/libs/ember-latest.js")
      script(src="/js/libs/ember-data-latest.js")

      script(src="/js/app.js")
      script(src="/js/routes.js")
      script(src="/js/templates.js")

      script(src="/js/models/article.js")
      script(src="/js/controllers/login_controller.js")
